 body{
    background-color: #f1f1f1;
    background-size: cover;
    margin-top: 80px;
   height: 1743px;
   width: 1440px;
    
}
.header-container{
position: fixed;
   top: 21px;    
    left: 137px;
    z-index: 10;
    
}
.header-container a{
    margin-right: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color:#000000;
}
 .header-container  img{
    vertical-align: middle;
    width: 40px;
}
.first-section h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0 0 27px 137px;
}
.containerboxes{
    display: flex;
    flex-direction: row;
    margin: 0 0 57px 138px;
    width: 85%;
   
}
.containerbox{
    margin-right: 40px;
    border-radius: 5px 5px;
}
.topside-one {
    width: 362px;
    height: 186px;
    background-image: url(../images/palmtree.svg);
    border-radius: 5px 5px;
    
}
.topside-one p{
     font-family: "Roboto", sans-serif;
      font-weight: 700;
       font-size: 20px;
    color: #FFFFFF;
    padding: 32px 0 0 41px;
}
.bottomside-one{
    background-color: #FFFFFF;
    width: 362px;
    height: 200px;
     border-radius: 5px 5px;
     
    
}
.bottomside-one p{
   line-height: 2.5;
    font-family: "Roboto", sans-serif;
     font-weight: 700;
    color:  #8A8787;
    font-size: 10px;
    padding: 68px 87px 14px 37px;
}
.bottomside-one img{
    padding: 0 0 40px 40px;
    margin-right: 11px;
}
.bottomside-one span{
    font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-size: 10px;
     color: #8A8787;
     vertical-align: 44px;
}
.topside-two {
    width: 362px;
    height: 186px;
    background-image: url(../images/seaside.svg);
    border-radius: 5px 5px;
    
}
.topside-two p{
     font-family: "Roboto", sans-serif;
      font-weight: 700;
       font-size: 20px;
    color: #FFFFFF;
    padding: 32px 0 0 41px;
}
.bottomside-two{
    background-color: #FFFFFF;
    width: 362px;
    height: 200px;
     border-radius: 5px 5px;
     
    
}
.bottomside-two p{
   line-height: 2.5;
    font-family: "Roboto", sans-serif;
     font-weight: 700;
    color:  #8A8787;
    font-size: 10px;
    padding: 68px 87px 14px 37px;
}
.bottomside-two img{
    padding: 0 0 40px 40px;
    margin-right: 11px;
}
.bottomside-two span{
    font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-size: 10px;
     color: #8A8787;
     vertical-align: 44px;
}
.topside-three {
    width: 362px;
    height: 186px;
    background-image: url(../images/Iceberg.svg);
    border-radius: 5px 5px;
    
}
.topside-three p{
     font-family: "Roboto", sans-serif;
      font-weight: 700;
       font-size: 20px;
    color: #FFFFFF;
    padding: 32px 0 0 41px;
}
.bottomside-three{
    background-color: #FFFFFF;
    width: 362px;
    height: 200px;
     border-radius: 5px 5px;
     
    
}
.bottomside-three p{
   line-height: 2.5;
    font-family: "Roboto", sans-serif;
     font-weight: 700;
    color:  #8A8787;
    font-size: 10px;
    padding: 68px 87px 14px 37px;
}
.bottomside-three img{
    padding: 0 0 40px 40px;
    margin-right: 11px;
}
.bottomside-three span{
    font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-size: 10px;
     color: #8A8787;
     vertical-align: 44px;
}
.sectionh1{
    margin: 0 0 30px 140px;
     font-family: "Roboto", sans-serif;
     font-weight: 800;
     font-size: 24px;
    
}
.containerimages{
    position: relative;
    margin: 0 0 36px 138px;
}

.left-div{
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 758px;
    
    border-radius: 5px;
     left: 0;
    
    
}

.right-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 98px;
    right: 0;
    top: 0;
    padding-right: 137px
}
.left-div p{
    position: absolute;
    z-index: 7;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 203px 278px 204px 278px;

}

footer{
    background-color: #243043;
    width: 1440px;
    height: 201px;
      
   
}
.footercontainer{
    display: flex;
    flex-direction: row;
    margin-left: 137px;
    
}
.footernav-one{
    margin-top: 40px;
    margin-right: 96px;
}
.footernav-one a{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #818687;

}
.footernav-two{
    margin-top: 40px;
    margin-right: 96px;
}
.footernav-two a{
    display: flex;
    flex-direction: column;
   line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #818687;

}
.footernav-three{
    margin-top: 40px;
    margin-right: 112px;
}
.footernav-three a{
    display: flex;
    flex-direction: column;
     line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #818687;

}
.infodiv{
   font-family: "Roboto", sans-serif;
   color: #FFFFFF;
   font-weight: 400;
   font-size: 12px;
   margin-top: 40px;
   margin-right: 416px;
}
.geolab{
   margin-top: 40px;

}
.geolab img{
    width: 38px;
}


