 body{
    background-color: #f1f1f1;
    background-size: cover;
}
.header-container{
    margin: 21px 0 42px 137px;
   
}
.header-container a{
    margin-right: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color:#000000;
}
 .header-container  img{
    vertical-align: middle;
    width: 40px;
}
.first-section h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0 0 27px 137px;
}
.containerboxes{
    display: flex;
    flex-direction: row;
    margin: 0 0 57px 138px;
    width: 85%;
   
}
.containerbox{
    margin-right: 40px;
    border-radius: 5px 5px;
}
.topside-one {
    width: 362px;
    height: 186px;
    background-image: url(../images/palmtree.svg);
    border-radius: 5px 5px;
    
}
.topside-one p{
     font-family: "Roboto", sans-serif;
      font-weight: 700;
       font-size: 20px;
    color: #FFFFFF;
    padding: 32px 0 0 41px;
}
.bottomside-one{
    background-color: #FFFFFF;
    width: 362px;
    height: 186px;
     border-radius: 5px 5px;
}
